{% extends '../index.twig' %}

{% block navbar %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="jumbotron" id="story">
        <h1 class="display-4">Déroulement d'une partie classique</h1>
        <hr class="my-4">
        <p>
            Quand la nuit tombe l'ordre des rôles :<br>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>1-</b> Geek <span class="badge badge-pill badge-success"> </span><br></li>
                <li class="list-group-item"><b>1.bis-</b> Le prêtre (une seule fois) <span class="badge badge-pill badge-success"> </span><br></li>
                <li class="list-group-item"><b>2-</b> Chien perdu <span class="badge badge-pill badge-danger"> </span><br></li>
                <li class="list-group-item"><b>3-</b> Sans-abri <span class="badge badge-pill badge-danger"> </span><br></li>
                <li class="list-group-item"><b>4-</b> Pisteur des montagnes <span class="badge badge-pill badge-success"> </span><br></li>
                <li class="list-group-item"><b>5-</b> Le taxidermiste <span class="badge badge-pill badge-success"> </span><br></li>
                <li class="list-group-item"><b>6-</b> Jack l'égorgeur <span class="badge badge-pill badge-success"> </span><br></li>
            </ul>
        </p>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}