{% extends '../index.twig' %}

{% block navbar %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="jumbotron" id="story">
        <h1 class="display-4">L'histoire de chien perdu</h1>
        <p class="lead">Voici l'histoire de chien perdu</p>
        <hr class="my-4">
        <p>
            La légende raconte qu'il y a fort longtemps, un homme aurait abandonné un chien dans la forêt perdu (The lost forrest) du mystérieux village black lake. <br>
            Le chien serait alors resté des années à airer dans cette forêt, sombre et pleine de mystères ...
            Jamais personne ne sut ce qu'il est devint, mais chaque année la légende raconte que l'esprit du Chien perdu (The lost dog) reviendrait pour se venger des humains et prendre possession
            d'une personne dans la ville afin de pouvoir tuer des humains sans attirer les regards suspects des autres villageois.
            La légende dit également que le chien les emmènerait si profond dans la forêt perdu, que cela les ferait sombrer dans la folie afin de pouvoir se nourrir de leur âme.
        </p>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}