body {
  padding: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#name{
  margin: auto 75px;
}

.mainButton {
  margin: auto auto 3%;
}

.head-list-people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 28%;
  border-right: 1px solid #c4c4c4;
}

.list-people {
  height: 507px;
  overflow-y: scroll;
}

#story {
  margin: 4%;
}

.chat
{
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li
{
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
  margin-left: 60px;
}

.chat li.right .chat-body
{
  margin-right: 60px;
}


.chat li .chat-body p
{
  margin: 0;
  color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
  margin-right: 5px;
}

.panel-body
{
  overflow-y: scroll;
  height: 533px;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

.panel-primary {
  width: 100%;
  margin-left: 15%;
}

.panel-footer {
  margin-top: 2%;
}

#btn-launch-game {
  margin-bottom: 3%;
  margin-top: 3%;
  display: none;
}

.card-counter {
  text-align: center;
}

.btn-circle {
  width: 26px;
  height: 20px;
  padding: 6px 0px;
  border-radius: 15px !important;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.choice-role {
  text-align: center;
  margin-bottom: 6%;
}

.row-card {
  width: 50%;
  margin-left: 0% !important;
  margin-right: 0% !important;
  margin-bottom: 3%;
}

.btn-incremented-counter {
  margin-right: 2%;
}

.btn-decremented-counter {
  margin-right: 2%;
}

.title-menu {
  font-size: 15px;
  text-align: center;
}